{% extends "base.html" %}

{% block content %}
	<h1>Форма</h1>
	<form action='' method="post" novalidate>
		{{ form.hidden_tag() }}
		<p>
			{{ form.inputt.label }}<br>
			{{ form.inputt }}
			{% for error in form.inputt.errors %}
				{% if request.form['inputt'] != '0' %}
					<div class="alert alert-danger" role="alert">
						{{ request.form['inputt'] }} не является корректным целым числом
					</div>
				{% endif %}
            {% endfor %}
		</p>
		<p>{{ form.submit() }}</p>
		<p>{% block add %}{% endblock %}</p>
    </form>
	
{% endblock %}