<!doctype html>
   <html lang="en">
                  <head>
                    <meta charset="utf-8">
                    <meta name="viewport" content="width=device-width,
                    initial-scale=1, shrink-to-fit=no">
                    <title>Привет, Яндекс!</title>
                  </head>
                  <body>
		    {% if 1 <= n <= 5 %}
			<h2>Хммм, здесь то же, что и с музыкой...</h2>
                        {% for _ in range(n) %}
			  <iframe src='https://www.youtube.com/watch?v=aUixTgX8dxU' width="468" height="400" align="left">
                            Ваш браузер не поддерживает плавающие фреймы!
                          </iframe>
                        {% endfor %}
		    {% else %}
                      <h1>Вы ввели неподходящее число!</h1>
                    {% endif %}
                  </body>
                </html>